<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="ms-0">
    {{>navbar}}
    <main>
        {{>sidebars}}

        <script>
        function openSidebar() {
            document.getElementById("sidebar").style.width = "0px";
            document.getElementById("main").style.marginLeft="2em"
            document.getElementById("open").style.display="block"
        }
    </script>

        <div class="main-container" style="margin-left:18em" id="main">

            this is index page
        </div>
    </main>
</body>
</html>