<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <title>Sidebars · Bootstrap v5.0</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sidebars/">
    <link rel="stylesheet" href="sidebars.css">
    <script src="sidebar.js"></script>

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>


    <!-- Custom styles for this template -->
</head>

<body>

    {{!-- <button style="display:none; border:none" id="open" onclick="openSidebar()"><svg xmlns="http://www.w3.org/2000/svg" width="16"
            height="16" fill="currentColor" class="bi bi-menu-button" viewBox="0 0 16 16">
            <path
                d="M0 1.5A1.5 1.5 0 0 1 1.5 0h8A1.5 1.5 0 0 1 11 1.5v2A1.5 1.5 0 0 1 9.5 5h-8A1.5 1.5 0 0 1 0 3.5v-2zM1.5 1a.5.5 0 0 0-.5.5v2a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 0-.5-.5h-8z" />
            <path
                d="m7.823 2.823-.396-.396A.25.25 0 0 1 7.604 2h.792a.25.25 0 0 1 .177.427l-.396.396a.25.25 0 0 1-.354 0zM0 8a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V8zm1 3v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2H1zm14-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2h14zM2 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0 4a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z" />
        </svg></button> --}}
    <div class="d-flex flex-column flex-shrink-0" id="sidebar">
        <button class="fs-4" onclick="closeSidebar()">X</button>


        {{!-- sidebar list --}}
        {{!-- <div class="sidebar"> --}}
            <h2>Domain</h2>
            <ul class="ps-0" style="list-style: none;">
                <div class="collapsible-header">Corporate</div>
                <ul class="collapsible-content">
                    <li>Easymail</li>
                    <li>Ams</li>
                    <li>OLJ</li>
                </ul>
                <div class="collapsible-header">Ordering</div>
                <div class="collapsible-content">
                    <div class="collapsible-header">CCM</div>
                    <ul class="collapsible-content">
                        <li>Easymail</li>
                        <li>Ams</li>
                        <li>OLJ</li>
                    </ul>
                    <div class="collapsible-header">Webalc 5</div>
                    <ul class="collapsible-content">
                        <li>Easymail</li>
                        <li>Ams</li>
                        <li>OLJ</li>
                    </ul>
                    <div class="collapsible-header">SRT</div>
                    <ul class="collapsible-content">
                        <li>Easymail</li>
                        <li>Ams</li>
                        <li>OLJ</li>
                    </ul>
                    <div class="collapsible-header">SRT</div>
                    <ul class="collapsible-content">
                        <li>Easymail</li>
                        <li>Ams</li>
                        <li>OLJ</li>
                    </ul>
                    <div class="collapsible-header">SRT</div>
                    <ul class="collapsible-content">
                        <li>Easymail</li>
                        <li>Ams</li>
                        <li>OLJ</li>
                    </ul>
                    <div class="collapsible-header">SRT</div>
                    <ul class="collapsible-content">
                        <li>Easymail</li>
                        <li>Ams</li>
                        <li>OLJ</li>
                    </ul>
                    <div class="collapsible-header">SRT</div>
                    <ul class="collapsible-content">
                        <li>Easymail</li>
                        <li>Ams</li>
                        <li>OLJ</li>
                    </ul>
                    <div class="collapsible-header">SRT</div>
                    <ul class="collapsible-content">
                        <li>Easymail</li>
                        <li>Ams</li>
                        <li>OLJ</li>
                    </ul>
                    <div class="collapsible-header">SRT</div>
                    <ul class="collapsible-content">
                        <li>Easymail</li>
                        <li>Ams</li>
                        <li>OLJ</li>
                    </ul>
                    <div class="collapsible-header">SRT</div>
                    <ul class="collapsible-content">
                        <li>Easymail</li>
                        <li>Ams</li>
                        <li>OLJ</li>
                    </ul>
                    <div class="collapsible-header">SRT</div>
                    <ul class="collapsible-content">
                        <li>Easymail</li>
                        <li>Ams</li>
                        <li>OLJ</li>
                    </ul>
                </div>
            </ul>
            {{!--
        </div> --}}

    </div>
</body>

</html>