<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <title>Sidebars · Bootstrap v5.0</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sidebars/">
    <link rel="stylesheet" href="sidebars.css">
    <script src="sidebar.js"></script>

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>


    <!-- Custom styles for this template -->
</head>

<body>
    {{!-- <script>
        function openSidebar() {
            document.getElementById("sidebar").style.width = "0px";
            document.getElementById("main").style.marginLeft = "2em"
        }
    </script> --}}
    <button style="display:none" id="open">open</button>
    <div class="d-flex flex-column flex-shrink-0" id="sidebar">
        <button class="fs-4" onclick="openSidebar()">X</button>
        

        {{!-- sidebar list --}}
        {{!-- <div class="sidebar"> --}}
            <h2>Domain</h2>
            <ul class="ps-0" style="list-style: none;">
                <div class="collapsible-header">Corporate</div>
                <ul class="collapsible-content">
                    <li>Easymail</li>
                    <li>Ams</li>
                    <li>OLJ</li>
                </ul>
                <div class="collapsible-header">Ordering</div>
                <div class="collapsible-content">
                    <div class="collapsible-header">CCM</div>
                    <ul class="collapsible-content">
                        <li>Easymail</li>
                        <li>Ams</li>
                        <li>OLJ</li>
                    </ul>
                    <div class="collapsible-header">Webalc 5</div>
                    <ul class="collapsible-content">
                        <li>Easymail</li>
                        <li>Ams</li>
                        <li>OLJ</li>
                    </ul>
                    <div class="collapsible-header">SRT</div>
                    <ul class="collapsible-content">
                        <li>Easymail</li>
                        <li>Ams</li>
                        <li>OLJ</li>
                    </ul>
                    <div class="collapsible-header">SRT</div>
                    <ul class="collapsible-content">
                        <li>Easymail</li>
                        <li>Ams</li>
                        <li>OLJ</li>
                    </ul>
                    <div class="collapsible-header">SRT</div>
                    <ul class="collapsible-content">
                        <li>Easymail</li>
                        <li>Ams</li>
                        <li>OLJ</li>
                    </ul>
                    <div class="collapsible-header">SRT</div>
                    <ul class="collapsible-content">
                        <li>Easymail</li>
                        <li>Ams</li>
                        <li>OLJ</li>
                    </ul>
                    <div class="collapsible-header">SRT</div>
                    <ul class="collapsible-content">
                        <li>Easymail</li>
                        <li>Ams</li>
                        <li>OLJ</li>
                    </ul>
                    <div class="collapsible-header">SRT</div>
                    <ul class="collapsible-content">
                        <li>Easymail</li>
                        <li>Ams</li>
                        <li>OLJ</li>
                    </ul>
                    <div class="collapsible-header">SRT</div>
                    <ul class="collapsible-content">
                        <li>Easymail</li>
                        <li>Ams</li>
                        <li>OLJ</li>
                    </ul>
                    <div class="collapsible-header">SRT</div>
                    <ul class="collapsible-content">
                        <li>Easymail</li>
                        <li>Ams</li>
                        <li>OLJ</li>
                    </ul>
                    <div class="collapsible-header">SRT</div>
                    <ul class="collapsible-content">
                        <li>Easymail</li>
                        <li>Ams</li>
                        <li>OLJ</li>
                    </ul>
                </div>
            </ul>
            {{!--
        </div> --}}

    </div>
</body>

</html>