#sidebar {
  width: 280px;
  background: #f2f2f2;  
  overflow-x: hidden;
  overflow-y: scroll;
  position: fixed;
  height: 95vh;
  padding: 0px;
  margin: 0;
  left: 0;
  transition: 0.4s;
}

.collapsible-header {
  cursor: pointer;
  font-weight: bold;
}

.collapsible-content {
  display: none;
  list-style: none;
  padding-left: 10px;
}

.collapsible-content li {
  margin-top: 5px;
}

